nav.navbar.navbar-inverse
    .container
        .navbar-header
            a.navbar-brand(href='/') Home
        ul.nav.navbar-nav
            li: a(href='/singleMsg') single flash message
            li: a(href='/multipleMsg') multiple flash message
